<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.latidude99.maptools">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/maptools_launcher_foreground"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/maptools_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".activity.MapToolsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Scale Converter -->
        <activity
            android:name=".activity.scale.ScaleActivity"
            android:label="Scale Converter"
            android:parentActivityName=".activity.MapToolsActivity" />
        <activity
            android:name=".activity.scale.FractionalScaleActivity"
            android:label="@string/toolbar_activity_fractional"
            android:parentActivityName=".activity.scale.ScaleActivity"
            android:windowSoftInputMode="stateVisible|adjustPan" />
        <activity
            android:name=".activity.scale.InchtomileScaleActivity"
            android:label="@string/toolbar_activity_intomile"
            android:parentActivityName=".activity.scale.ScaleActivity"
            android:windowSoftInputMode="stateVisible|adjustPan" />
        <activity
            android:name=".activity.scale.MiletoinchScaleActivity"
            android:label="@string/toolbar_activity_miletoinch"
            android:parentActivityName=".activity.scale.ScaleActivity"
            android:windowSoftInputMode="stateVisible|adjustPan" />
        <activity
            android:name=".activity.scale.CmtokmScaleActivity"
            android:label="@string/toolbar_activity_cmtokm"
            android:parentActivityName=".activity.scale.ScaleActivity"
            android:windowSoftInputMode="stateVisible|adjustPan" />
        <activity
            android:name=".activity.scale.KmtocmScaleActivity"
            android:label="@string/toolbar_activity_kmtocm"
            android:parentActivityName=".activity.scale.ScaleActivity"
            android:windowSoftInputMode="stateVisible|adjustPan" /> <!-- MapEntry Calculator -->
        <activity
            android:name=".activity.distance.DistanceActivity"
            android:label="Distance Calcuator"
            android:parentActivityName=".activity.MapToolsActivity" />
        <activity
            android:name=".activity.distance.DistanceMapScaleActivity"
            android:label="Ground Distance Calculator"
            android:parentActivityName=".activity.distance.DistanceMapScaleActivity"
            android:windowSoftInputMode="stateVisible|adjustPan" />
        <activity
            android:name=".activity.distance.DistanceGroundScaleActivity"
            android:label="Map Distance Calculator"
            android:parentActivityName=".activity.distance.DistanceMapScaleActivity"
            android:windowSoftInputMode="stateVisible|adjustPan" />
        <activity
            android:name=".activity.distance.DistanceMapGroundActivity"
            android:label="Scale Calculator"
            android:parentActivityName=".activity.distance.DistanceMapScaleActivity"
            android:windowSoftInputMode="stateVisible|adjustPan" />
        <activity
            android:name=".activity.unit.UnitActivity"
            android:label="Unit Converter"
            android:parentActivityName=".activity.MapToolsActivity" />
        <activity android:name=".activity.unit.Unit_Length_Activity"
            android:windowSoftInputMode="stateVisible|adjustPan"
            android:label="Unit Converter - Length"
            android:parentActivityName=".activity.unit.UnitActivity" />
    </application>

</manifest>